################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/echo-bot/.vs
/echo-bot/bin
/echo-bot/obj
/echo-bot/appsettings.json
/echo-bot/appsettings.Development.json
/echo-bot/Echobot.zip
